.btnquestion{
	border-width: 0px;
	border-radius: 5px;
	padding: 1em;
	width: inherit;
}

.yes {
	background-color: #00ff00;
}

.yes:hover {
	background-color: #008000;
}

.no {
	background-color: #ff0000;
}

.no:hover {
	background-color: #804040;
}

.inline {
	display: inline-flex;
	width: auto;
}

.question {
	text-align: center;
	padding: 2em;
}

    
