<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>All</title>
<body>
	<dl>
		<dt>
			<a href="index">Back</a>
		</dt>
		<dt>
			<a href="personaldata">Personal data</a>
		</dt>
		<dt>
			<a href="classification">Classification</a>
		</dt>
		<dt>
			<a href="etiology">Etiology</a>
		</dt>
		<dt>
			<a href="bloodsample">Blood Sample</a>
		</dt>
		<dt>
			<a href="familytree">Family Tree</a>
		</dt>
		<dt>
			<a href="test2">Test</a>
		</dt>
	</dl>
</body>
</html>