<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<dl>
		<dt>
			<a href="newpatient">Back</a>
		</dt>
		<dt>
			<input type="text" placeholder="Name">
		</dt>
		<dt>
			<input type="radio" name="gender" value="male"> Male<input
				type="radio" name="gender" value="female"> Female
		</dt>
		<dt>
			<label for="start">Date of Birth:</label>
		</dt>
		<dt>
			<input type="date" id="start" name="birth" value="2018-07-22" />
		</dt>
		<dt>
			<input type="text" placeholder="Place of Birth">
		</dt>
		<dt>
			<label for="handedness">Handedness:</label>
		</dt>
		<dt>
			<input type="radio" id="handedness" name="handedness" value="right">
			Right<input type="radio" name="handedness" value="left"> Left
		</dt>
		<dt>
			<input type="text" placeholder="Ethnicity">
		</dt>

	</dl>
</body>
</html>